Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
SpacesBeforeTrailingComments: 1
ColumnLimit: 90
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
